#user .logged-in .gamification-plugin.user-info-template {
  margin-left: 0 !important
  padding: 0 !important
}
#user .logged-in .gamification-plugin.user-info-template * {
  display: none;
}

.action-gamification_plugin_profile-dashboard {
  display: none;
}
